<%= devise_error_messages! :class => 'centered w30' %>

<div class="box centered w30">

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <h2>Resend confirmation instructions</h2>

  <div class="field w30">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <button type="submit" class="white">Resend confirmation instructions</button>
  </div>

<% end %>

<%= render :partial => "devise/shared/links" %>

</div>

