
<%= devise_error_messages! %>

<div class="centered box w30">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <h2>Create account</h2>
  
  <div class="field w30">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field w30">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field w30">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <button type="submit" class="white">Create account</button>
  </div>
  
  <%= render :partial => "devise/shared/links" %>
<% end %>

</div>
