<% content_for :head do %>
  <%= javascript_include_tag 'schedules' %>
<% end %>

<%= form_for(@schedule) do |f| %>
  <%= errors_for @schedule, :as => :schedule %>

  <div class="field w60">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, :class => "causesPendingSaveNoticeOnChange" %>
  </div>
  
  <div class="field w60">
    <%= f.label :keyword, "Keyword" %>
    <p>Users will register with this keyword</p>
    <%= f.text_field :keyword, :class => "causesPendingSaveNoticeOnChange" %>
  </div>

  <div class="field">
    <%= f.label :welcome_message, "Welcome message" %>
	<p>This is the message users will get after they successfully registered</p>
    <div class="w60">
      <%= f.text_area :welcome_message, :rows => 3, :class => "causesPendingSaveNoticeOnChange ux-wajbar", :placeholder => 'Write your welcome message here' , :maxlength => 140 %>
    </div>
  </div>
  
  <div class="field">
    <%= f.label :timescale %>
    <p>Choose timescale reference to use</p> 
    <div class="ux-dropdown w20 inline">
      <%= f.select :timescale, Schedule.time_scales, {}, :class => "causesPendingSaveNoticeOnChange" %>
    </div>
  </div>
  
  <div class="field">
    <label>Mode</label>
    <p>Choose whether you want to set up a timeline for your messages or send them randomly</p>

    <%= f.radio_button :type,
      "FixedSchedule",
      :id => "fixed_schedule_option",
      :class => "causesPendingSaveNoticeOnChange styled"
    %>
    <%= f.label :type, FixedSchedule.mode_in_words, :class => 'radio' %>
    <br/>
    
    
    <%= f.radio_button :type,
      "RandomSchedule",
      :id => "random_schedule_option",
      :class => "causesPendingSaveNoticeOnChange styled"
    %>
    <%= f.label :type, RandomSchedule.mode_in_words, :class => 'radio' %>
  </div>

  <p class="w60">
    <%= "This Reminder is #{
      if @schedule.paused?
        'paused and won\'t send messages'
      else
        'active and will be sending messages to registered users with the scheduled configured below'
      end
    }." %>
  </p>

  <div class="field">
    <%= f.check_box :paused?, :type =>"checkbox" %>
    <%= f.label :paused?, "Pause this reminder", :class => 'checkbox' %>
  </div>

  <hr />

  <h2>Messages</h2>
  <p>Write your schedule's messages</p>
  
  <ul class="vertical">
    <%= f.fields_for :messages do |message_form| %>
      <%= render "message_fields", :f => message_form %>
    <% end %>
   <li class="fields">
     <div class="box grey w60">
      <%= link_to_add_fields "Add message", f, :messages, :class => "add_fields causesPendingSaveNoticeOnClick" %>
      <button type="button" class="cadd right" onclick="$('.add_fields', $(this).closest('.box')).click();"></button>
     </div>
   </li>
	</ul>
  <div class="actions">
    <button type="submit" class="white">Save</button>
    <%= link_to 'Cancel', :back %>
  </div>
<% end %>