<% content_for :head do %>
  <%= javascript_include_tag 'schedules' %>
<% end %>

<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keyword, "Users will register with keyword:" %><br />
    <%= f.text_field :keyword %>
  </div>
  <div class="field">
    <%= f.label :welcome_message, "Then, they'll receive this welcome message:" %><br />
    <%= f.text_field :welcome_message %>
  </div>
  <div class="field">
    <%= f.label :timescale, "Time scale is:" %><br />
	<%= select @schedule.class.name.underscore, :timescale, Schedule.time_scales %>
  </div>

  <h2>Choose whether you want to:</h2>
  <div class="field">
	<%= f.radio_button :type, "FixedSchedule", :id => "fixed_schedule_option" %>
	<%= f.label :type, "Set up a timeline for your messages..." %>
  </div>
  <div class="field">
	<%= f.radio_button :type, "RandomSchedule", :id => "random_schedule_option" %>
	<%= f.label :type, "...or send them randomly once #{@schedule.timescale.one_to_s}" %>
  </div>

  <h2>Write your schedule's messages:</h2>
  <table>
	<thead>
	  <tr>
	    <th class="offsetColumn header">
		  <%= @schedule.timescale.singularize.capitalize %>
	    </th>
	    <th>
		  Text
        </th>
	  </tr>
	</thead>
	<tbody>
	  <%= f.fields_for :messages do |message_form| %>
	  	<%= render "message_fields", :f => message_form %>
	  <% end %>
      <%= render "new_message_fields", :f => f %>	  
	</tbody>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
