<% content_for :head do %>
  <%= javascript_include_tag 'schedules' %>
<% end %>

<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="Title">
    <%= f.label :title, "Title" %><br />
    <%= f.text_field :title, :class => "causesPendingSaveNoticeOnChange" %>
  </p>
  
  <p class="Title">
    <%= f.label :keyword, "Keyword" %>
    <p>Users will register with this keyword</p>
    <%= f.text_field :keyword, :class => "causesPendingSaveNoticeOnChange" %>
  </p>

  <p class="Title">
  <%= f.label :welcome_message, "Welcome message" %>
    <div class="w50">
      <%= f.text_area :welcome_message, :rows => 3, :class => "causesPendingSaveNoticeOnChange Txarea WajBar", :placeholder => 'Write your welcome message here' , :maxlength => 140 %>
    </div>
  </p>
  
  <p class = "Title" >Every</p>
  <div class="pulldown w30">
    <%= f.select :timescale, Schedule.time_scales, {}, :class => "causesPendingSaveNoticeOnChange styled" %>
  </div>

  <p class= "Title" >Mode</p>
  <p>
    <div class="field">
      <%= f.radio_button :type,
        "FixedSchedule",
        :id => "fixed_schedule_option",
        :class => "causesPendingSaveNoticeOnChange styled"
      %>
      <%= f.label :type, "Timeline" %>
    </div>
    <div class="field">
      <%= f.radio_button :type,
        "RandomSchedule",
        :id => "random_schedule_option",
        :class => "causesPendingSaveNoticeOnChange styled"
      %>
      <%= f.label :type, "Random once #{@schedule.timescale.one_to_s}" %>
    </div>
  </p>

  <p>
    <%= "This Reminder is #{
      if @schedule.paused?
        'paused and won\'t send messages'
      else
        'active and will be sending messages to registered users with the scheduled configured below'
      end
    }." %>
  </p>

  <div class="field">
    <%= f.check_box :paused?, :type =>"checkbox", :class => "styled"%>
    <%= f.label :paused?, "Pause this reminder" %>
  </div>

  <hr />

  <p class = "Title">Messages</p>
  <p>Write your schedule's messages</p>
  <ul>
    <% @schedule.messages.each.with_index do |message,index| %>
      <%= f.fields_for :messages, message do |message_form| %>
        <%= render "message_fields", :f => message_form, :index => index%>
	   <% end %>
    <% end %>
   <li class="fields">
    <%= link_to_add_fields "add message", f, :messages, :class => "causesPendingSaveNoticeOnClick" %>
  </li>
	</ul>
  <div class="actions">
    <%= styled_submit "Save"%>
    <%= styled_button_to 'Cancel', :onclick => "window.location='#{schedules_path}';" %>
  </div>
<% end %>