<li class="fields">
  <div class="box grey w60">

    <%= link_to_remove_fields '', f, :class => "fdelete causesPendingSaveNoticeOnClick" %>

  <div class="left">
    <%= f.hidden_field :offset, :class => "offset" %>    
    After <span class="offset"><%= f.object.offset %></span>
    
    <span class="timescale"><%= @schedule.timescale %></span>
  </div>
  <%= f.hidden_field :text, :class => "hidden text" %>
  <pre class="aleft text"><%= f.object.text %></pre>
  <span class="aleft">
    <%= link_to_edit_fields "Edit", f, :messages %>
  </span>
  <div class="clear"></div>
  </div>
</li>