<li class="fields">
  <div class="box grey w60">
    <span class="right">
      <%= tag :input, :type => "hidden", :name => "schedule[messages_attributes][#{f.options[:index]}][_destroy]" %>
      <%= link_to_function '', "remove_fields(this)", :class => "fdelete causesPendingSaveNoticeOnClick" %>
    </span>
  
  <div class="offset left">
    <div class="ux-nstep">
      <%= tag :input, :name => "edit_offset", :size => "2", :type => "text", :value => f.object.offset %>
    </div>
    <span class="timescale"><%= @schedule.timescale %></span>
  </div>
  
  <div class="text">
    <%= content_tag :textarea, f.object.text, :rows => 5, :class => "ux-wajbar w60", :placeholder => 'Add message here',
      :name => "edit_text" , :maxlength => 140 %>
  </div>
  
  <hr/>
  
  <button type="button" class="orange" onclick="confirm_changes(this);">Save</button>
  <button type="button" class="white" onclick="revert_changes(this);">Cancel</button>

  </div>
</li>