<<<<<<< HEAD
<li class ="fields">
  <div class= "offset">
    <%= f.hidden_field :offset, :class => "offset" %>
    <%= f.object.offset %>
    <%= @schedule.timescale %>
  </div>
  <div class = "text">
    <%= f.hidden_field :text, :class => "text" %>
    <%= f.object.text %>
  </div>
  <p>
    <%= button_to_edit_fields  f, :messages, f.object, :index => index %>
    <%= link_to_edit_fields "Edit", f, :messages, f.object, :index => index %>
  </p>
  <span float = "right">
    <%= link_to_remove_fields "remove", f, :class => "causesPendingSaveNoticeOnClick" %>
  </span>
</li>