<h1>Your schedules</h1>

<table>
  <tr>
    <th>Keyword</th>
    <th>Time Scale</th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.keyword %></td>
    <td><%= schedule.timescale %></td>
    <td><%= link_to 'edit', edit_schedule_path(schedule) %> | <div id="confirmation" style="display:none">Send deletion notification to subscribers? <%= link_to 'yes', schedule_path(schedule), :confirm => 'This will delete the schedule "' + '@schedule' + '" and notify all subscribers of its deletion.', :notify => "true", :method => :delete %>/<%= link_to 'no', schedule_path(schedule), :confirm => 'This will delete the schedule "' + '@schedule' + '".', :method => :delete %></div><a href=# onclick="$(this).hide(); $('#confirmation').show();">delete</a></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_path %>

<%= render :partial => 'shared/user_channel' %>
