<h1>Reminders</h1>


<div class="tablewrapp w60">
  <table class="GralTable TwoColumn CleanTable ItemsTable">
    <tr>
      <th>My Reminders</th>
      <th></th>
    </tr>

  <% @schedules.each.with_index do |schedule,index| %>
    <tr>
      <td>
        <%= link_to edit_schedule_path(schedule) do %>
          <%= schedule.title %> - <%= schedule.keyword %>
        <% end %>
      </td>
      <td><%= link_to '', edit_schedule_path(schedule), :class => 'farrow' %></td>
    </tr>
    
      <!-- <td>
        <div class ="confirmation", id="<%= "confirmation#{index}" %>" style="display:none; color:red">
          Send deletion notification to subscribers?
          <%=
            link_to 'yes',
            schedule_path(schedule, :notify => "true"),
            :confirm => 'This will delete the schedule "' + schedule.keyword + '" and notify all subscribers of its deletion.',
            :method => :delete
          %>
          /
          <%=
            link_to 'no',
            schedule_path(schedule),
            :confirm => 'This will delete the schedule "' + schedule.keyword + '".',
            :method => :delete
          %>
        </div>
        <input class = "icon cremove" onclick="$(this).hide(); $('.confirmation', $(this).closest('td')).show();">
      </td>
    </tr> -->
  <% end %>
	<tr><td><%= will_paginate @schedules %></td><td></td></tr>
    <tr>
      <td>
        <%= link_to 'Create Reminder', new_schedule_path %>
      </td>
      <td>
        <%= link_to '', new_schedule_path, :class => 'cadd' %>
      </td>
    </tr>
  
  </table>
</div>

<br />

<%= render :partial => 'shared/user_channel' %>
