<% content_for :head do %>
	<script type="text/javascript">
	$(function(){
		$('.cremove').bind('confirm:complete', function(event, answer) {

			if (answer == false) return;

			send_notification = confirm('Send deletion notification to subscribers?');
			$(this).attr('href', ($(this).attr('href').replace("NOTIFY_VALUE", send_notification)));

			if (send_notification) {
				alert('This will delete the schedule and notify all subscribers of its deletion.');
			}
			else {
				alert('This will delete the schedule');	
			}
		});
	});
	</script>
<% end %>

<h1>Reminders</h1>

<div class="tablewrapp w60">
  <table class="GralTable TwoColumn CleanTable ItemsTable">
    <tr>
      <th>My Reminders</th>
      <th></th>
    </tr>

  <% @schedules.each.with_index do |schedule,index| %>
    <tr>
      <td>
        <%= link_to schedule_path(schedule) do %>
          <%= schedule.title %>
        <% end %>
      </td>
		<td><a href="<%= schedule_path(schedule, :notify => "NOTIFY_VALUE") %>" class="icon cremove"
			data-confirm="Are you sure you want to delete the schedule <%= schedule.title %>?" data-method="delete"></td>
    </tr>
  <% end %>
    <tr>
      <td>
        <%= link_to 'Create Reminder', new_schedule_path %>
      </td>
      <td>
        <%= link_button_to '', new_schedule_path, :class => 'cadd' %>
      </td>
    </tr>
  </table>
<%= paginate @schedules %>
</div>

<br />

<%= render :partial => 'channel/user_channel' %>
