<h1>Your schedules</h1>

<table>
  <tr>
    <th>Keyword</th>
    <th>Time Scale</th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.keyword %></td>
    <td><%= schedule.timescale %></td>
    <td><%= link_to 'edit', edit_schedule_path(schedule) %> | <%= link_to 'delete', schedule_path(schedule), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_path %>

<%= render :partial => 'shared/user_channel' %>
