<h1>Reminders</h1>

<div class="tablewrapp w60">
  <table class="GralTable TwoColumn CleanTable ItemsTable">
    <tr>
      <th>My Reminders</th>
      <th></th>
    </tr>

  <% @schedules.each.with_index do |schedule,index| %>
    <tr>
      <td>
        <%= link_to schedule_path(schedule) do %>
          <%= schedule.title %>
        <% end %>
      </td>
		<td><%= link_to '', schedule_path(schedule), :class => 'farrow' %></td>
    </tr>
  <% end %>
    <tr>
      <td>
        <%= link_to 'Create Reminder', new_schedule_path %>
      </td>
      <td>
        <%= link_button_to '', new_schedule_path, :class => 'cadd' %>
      </td>
    </tr>
  </table>
<%= paginate @schedules %>
</div>
<br>
<%= render :partial => 'channel/user_channel' %>
