<%= render "schedule_tabs_and_title", :schedule => @schedule %>

<h2>Status</h2>
<p>Here you can see the overall status of your schedule</p>

<div class="w30 box grey" style="height: 36px !important; padding: 0px 1px 0px 3px;">
	<div class="left">
			<span align="right" style="display: block; font-size: 23px; height: 23px"><%= @schedule.subscribers.count %></span>
			<span style="display: block; font-size: 11px;">subscribers</span>
	</div>
	<div class="right">
		<%= link_button_to 'Download as CSV', schedule_subscribers_path(@schedule.id)+'.csv', :style => "width: 150px !important;" %>
	</div>
	<div class="clear"></div>
</div>
<br>
<h2>Properties</h2>
<p>This is a summary of the properties of your schedule</p>

<p>Keyword: <%= @schedule.keyword %><br>
Mode: <%= @schedule.class.mode_in_words %><br>
Messages: <%= @schedule.messages.count %></p>

<%= link_to '', edit_schedule_path(@schedule), :class => 'farrow' %><%= link_to 'Edit', edit_schedule_path(@schedule) %>