<% content_for :head do %>
	<script type="text/javascript">
		function updateNotifyValue(){
			if ($('#notifySubscribers:checked').val() !== undefined) {
				send_notification = true;
			}else {
				send_notification = false;
			}
			$('#delete').attr('href', ($('#delete').attr('href').replace("NOTIFY_VALUE", send_notification)));
		};
	</script>
<% end %>

<%= render "shared/schedule_tabs_and_title", :schedule => @schedule %>

<div class="tabsline">
	<h2>Status</h2>
	<p>Here you can see the overall status of your schedule</p>

	<%= render 'subscribers/download_as_csv', :schedule => @schedule %>

	<hr>
	<h2>Properties</h2>
	<p>This is a summary of the properties of your schedule</p>
	
	<div class="left box plain white overviewBox"><div class="i48grad-key left"></div><div class="overviewText">Keyword <br><%= @schedule.keyword %></div></div>
	<div class="left box plain white overviewBox"><div class="i48grad-time left"></div><div class="overviewText"><%= "#{@schedule.duration} #{@schedule.timescale}" %><br><%= @schedule.class.mode_in_words %></div></div>
	<div class="left box plain white overviewBox"><div class="i48grad-reminder left"></div><div class="overviewText"><%= @schedule.messages.count %> messages<br>queued</div></div>
	<div class="clear"></div>

	<%= link_to 'Edit settings', edit_schedule_path(@schedule), :class => 'farrow overviewButton' %>
<%= form_for(@schedule) do |f| %>
  <p class="pausedDescription">
    <%= "This Reminder is #{
      if @schedule.paused?
        'paused and won\'t send messages'
      else
        'active and will be sending messages to registered users'
      end
    }." %>
  </p>
  <%= f.hidden_field :paused?, :value => !@schedule.paused? %>
  <% if @schedule.paused? %>
    <button type="submit" class="fplay overviewButton"></button>Start this reminder
  <% else %>
    <button type="submit" class="fpause overviewButton"></button>Pause this reminder
  <% end %>
 <% end %>
  <hr>
  <div class="ux-collapsible collapsed deleteScheduleBox switch" data-on-expanded="box grey plain expanded">
    <span><a href="#" class="icon fdelete ux-collapse-trigger black">Delete this reminder</a></span>
    <div class="ux-content">
      <a href="#" class="icon fdelete ux-collapse-trigger">Are you sure you want to delete this reminder? <br> All your subscribers will stop receiving the scheduled messages</a>
      <hr>
		  <input type="checkbox" checked="" name="notifySubscribers" id="notifySubscribers">
		  <%= label_tag :notifySubscribers, "Notify the subscribers that this reminder is no longer active?" %>
		  <%= link_to 'Confirm', schedule_path(@schedule, :notify => "NOTIFY_VALUE"), :method => :delete , :class => "button white right", :id => "delete", :onclick => "updateNotifyValue();" %>
      <a href="#" class="ux-collapse-trigger grey right">Cancel</a>
    </div>
  </div>
</div>