<p id="notice"><%= notice %></p>

<p>
  <b>Keyword:</b>
  <%= @schedule.keyword %>
</p>

<p>
  <b>Timescale:</b>
  <%= @schedule.timescale %>
</p>

<p>
  <b>Type:</b>
  <%= @schedule.type %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
