<% content_for :head do %>
	<script type="text/javascript">
		function updateNotifyValue(){
			if ($('#notifySubscribers:checked').val() !== undefined) {
				send_notification = true;
			}else {
				send_notification = false;
			}
			$('#delete').attr('href', ($('#delete').attr('href').replace("NOTIFY_VALUE", send_notification)));
		};
	</script>
<% end %>

<%= render "shared/schedule_tabs_and_title", :schedule => @schedule %>

<div class="tabsline">
	<h2>Status</h2>
	<p>Here you can see the overall status of your schedule</p>

	<div class="box grey subscribersBox">
		<div class="left">
			<div class="subscribersCount"><%= @schedule.subscribers.count %></div>
			<div>subscribers</div>
		</div>
		<div class="right">
			<%= link_button_to 'Download as CSV', schedule_subscribers_path(@schedule.id)+'.csv', :class => "csvDownload white" %>
		</div>
		<div class="clear"></div>
	</div>
	<br>
	<hr>
	<h2>Properties</h2>
	<p>This is a summary of the properties of your schedule</p>
	<p>
		Keyword: <%= @schedule.keyword %><br>
		Mode: <%= @schedule.class.mode_in_words %><br>
		Messages: <%= @schedule.messages.count %>
	</p>

	<%= link_to '', edit_schedule_path(@schedule), :class => 'farrow' %><%= link_to 'Edit settings', edit_schedule_path(@schedule) %>

  <hr>

  <div class="ux-collapsible collapsed w618 deleteScheduleBox" data-on-expanded="box grey plain">
    <span><a href="#" class="icon fdelete ux-collapse-trigger black">Delete this reminder</a></span>
    <div class="ux-content">
      <a href="#" class="icon fdelete ux-collapse-trigger">Are you sure you want to delete this reminder? <br> All your subscribers will stop receiving the scheduled messages</a>
      <hr>
		  <input type="checkbox" checked="" name="notifySubscribers" id="notifySubscribers">
		  <%= label_tag :notifySubscribers, "Notify the subscribers that this reminder is no longer active?" %>
		  <%= link_to 'Confirm', schedule_path(@schedule, :notify => "NOTIFY_VALUE"), :method => :delete , :class => "button white right", :id => "delete", :onclick => "updateNotifyValue();" %>
      <a href="#" class="ux-collapse-trigger grey right">Cancel</a>
    </div>
  </div>
</div>