<h1><%= schedule.title %></h1>

<ul class="tabs top">
	<li class="<%= "active" if (params[:controller] == "schedules" && params[:action] == "show") %>" >
		<%= link_to "Overview", schedule_path(schedule.id) %>
	</li>
	<li class="<%= "active" if params[:controller] == "logs"%>" >
		<%= link_to "Logs", schedule_logs_path(schedule.id) %>
	</li>
	<li class="<%= "active" if(params[:controller] == "schedules" && params[:action] == "edit") %>" >
		<%= link_to "Settings", edit_schedule_path(schedule.id) %>
	</li>
	<li class="<%= "active" if params[:controller] == "subscribers" %>" >
		<%= link_to "Subscribers", schedule_subscribers_path(schedule.id) %>
	</li>
</ul>