<div class="CurrentChannelBox box grey w60">
	<div class="left">
		<p class="black">Reminders channel</p>
		<p class="grey">Bidirectional (<%=current_user.channel.address%>)<%= ", last activity #{time_ago_in_words @last_log.created_at} ago" if @last_log %></p>
	</div>
	<%= link_to '', channel_path(current_user.channel), :method => :delete, :class => 'icon fdelete right' %>
</div>

<div class="LocalGatewayBox box">
	<div class="LocalGatewayLogo left"></div>
	<div class="LocalGatewayText left">will help you to send reminders from your mobile phone, <%= link_to 'learn More', tour_path(1) %>.</div>
	<div class="LocalGatewayArrow left"></div>
	<%=link_to 'Change channel', new_channel_path(:choose_local_gateway => true), :remote => true, :class => 'button white right'%>
</div>