<div class="box centered w30">
  
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <h2>Log In</h2>
  
  <div class="field w30">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field w30">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %> <%= f.label :remember_me, :class=>'checkbox' %>
    </div>
  <% end -%>

  <div class="actions">
    <button type="submit" class="white">Log In</button>
  </div>
  
  <%= render :partial => "devise/shared/links" %>
<% end %>

</div>