<%= form_for(@subscriber) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :subscribed_at %><br />
    <%= f.datetime_select :subscribed_at %>
  </div>
  <div class="field">
    <%= f.label :offset %><br />
    <%= f.text_field :offset %>
  </div>
  <div class="field">
    <%= f.label :received_messages %><br />
    <%= f.text_field :received_messages %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
