<% schedule = Schedule.find(params[:schedule_id]) %>

<%= render "shared/schedule_tabs_and_title", :schedule => schedule %>

<div class="tabsline">
  <h1>Subscribers</h1>
  <%= render 'download_as_csv', :schedule => schedule %>

  <div class="tablewrapp w90">
    <table class="GralTable ButtonTable <%=
    if @subscribers.empty?
      'empty'
    else
      'w-pagination'
    end %>">
      <tr>
        <th class="small <%= css_sort_class_for 'subscribed_at' %>"><%= sortable 'subscribed_at', 'Subscribed' %></th>
        <th colspan="2" class="<%= css_sort_class_for 'phone_number' %>"><%= sortable 'phone_number' %></th>
      </tr>
      <% if @subscribers.empty? %>
          <tr>
            <td colspan="3">
              <div class="EmptyTable">You have no Subscribers yet</div>
            </td>
          </tr>
          <% else %>
        <% @subscribers.each do |subscriber| %>
        <tr>
          <td><%= "#{subscriber.subscribed_at.strftime "%a %b %d %Y, %H:%M:%S"} (#{time_ago_in_words subscriber.subscribed_at} ago)" %></td>
          <td><%= subscriber.phone_number.without_protocol %></td>
          <td>
            <%=
              link_to '',
              schedule_subscriber_path(Schedule.find(params[:schedule_id]), subscriber),
              :class => "button fdelete",
              :confirm => 'Are you sure?',
              :method => :delete
            %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </table>
    <%= paginate @subscribers %>
  </div>
</div>