<!DOCTYPE html>
<html>
<head>
  <title>RememberMe</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
	<div id="logout"><%= link_to "Log Out", destroy_user_session_path %></div>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<%= yield %>
</body>
</html>
