<!DOCTYPE html>
<html>
<head>
  <title>Remindem</title>
  <%= stylesheet_link_tag 'http://theme.instedd.org/theme/stylesheets/theme.css' %>
  <%= stylesheet_link_tag '/stylesheets/remindem.css' %>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'http://theme.instedd.org/theme/javascripts/theme.js' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
  <%= flash_message %>
  <div id="wrapper">
    <div id="toolbar">
      <ul id="instedd-pulldown"></ul>
      	<div id="NavMenu">
			<ul>
				<%= section 'Home', root_path, :home %>
				<%= section 'Reminders', root_path, :schedules %>
				<%= section 'Tour', '#', :tour %>
				<%= section 'Community', '#', :comunity %>
				<%= section 'Help', '#', :help %>
			</ul>
		</div>
      
      <ul class="RightMenu">
        <%- if !current_user.nil? %>
        <li>
        <div id="User">
          <%=current_user.email%><br><br>
          <div class="container">
            <%= link_to "Log Out", destroy_user_session_path %>
          </div>
        </div>
        </li>
        <li>
          <%= link_to '', edit_user_registration_path, :class => 'fsettings' %>
        </li>
        <% else %>
        <li>
          <%= link_to "Create account", new_user_registration_path, :class => 'fedit' %>
        </li>
        <li>
          <%= link_to "Log in", new_user_session_path, :class => 'fuser' %>
        </li>
        <% end %>
      </ul>
    </div>
    
	<div id="header">
		<div class="left">
			<a href="/"><img src="http://theme.instedd.org/theme/images/header/logos/remindem.png"/></a>
		</div>
     
		<% if user_signed_in? %>
			<div class="BreadCrumb">
				<%= breadcrumb %>
			</div><!-- #BreadCrumb -->
		<% end %>

      <!-- <div class="BreadCrumb">
        <ul>
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">dolor sit</a></li>
          <li><a href="#">amet</a></li>
        </ul>
      </div> -->

		<div class="clear"></div><!-- #clear -->
	</div><!-- #header -->
    
    <div id="container">

    	<%= yield %>

    </div>
    
    <div id="footer-span">
      <div id="footer">
        <div id="footer-container">
          <div>
            <div class="left platform">
              InSTEDD has created an evolving platform of free and open source technologies to support humanitarian causes. These tools can be used individually or as building blocks for larger solutions. <a href="http://instedd.org/technologies/">Click here</a> to learn more
            </div>
            <div class="right">
              <a href="http://instedd.org/technologies/" class="more">Learn more</a>
              <div id="instedd-footer" data-app-name="remindem"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div>
            <div class="left">
              <a href="http://instedd.org">&copy; 2011 InSTEDD</a>
              <a href="#TODO">Terms and conditions</a>
              <a href="#TODO">Contact us</a>
            </div>
            <div class="right">
              <a href="/">Home</a>
              <a href="#TODO">Tour</a>
              <a href="#TODO">Community</a>
              <a href="#TODO">Help</a>
              <a href="#TODO">Language: English</a>              
            </div>
            <div class="clear">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
